.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-wrapper {
  padding: 20px;
  border: 2px solid royalblue;
  border-radius: 10px;
  background-color: whitesmoke;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-input {
  border-color: royalblue;
  border-radius: 3px;
  background-color: whitesmoke;
}

.auth-input::placeholder {
  color:black
}

.auth-button {
  font-size: 36px;
  border-color: deeppink;
  color: tomato;
}
